@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    scroll-behavior: smooth;
    padding: 14px;
    font-family: manrope;
}

:root {
    --navcontainer: #0a0a0a;
    --navlink: #fafafa;
    --navbtn1: #fafafa;
    --navbtn2: rgb(56, 144, 232);
    --navlogo: whitesmoke;
    --navlogospan: #25D366;
    --bg-dark: #0f172a;
    --card-bg: #1e293b;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --flame-color: linear-gradient(180deg, rgba(5, 60, 24, 0.8) 0%, rgb(17, 171, 78) 50%, rgba(239, 68, 68, 0) 100%);
    --glow-color: rgba(14, 248, 61, 0.633);

    /* root color codes for the footer section */
    --bg-footer: #090d16;
    --text-primary: #f8fafc;
    --text-muted: #64748b;
    --border-color: rgba(255, 255, 255, 0.08);
    
    /* Brand Accent Glow Colors */
    --gpt-glow: #10a37f;
    --claude-glow: #cc785c;
    --gemini-glow: #4285f4;

}